*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(54, 54, 54);
}

section.slider{
    text-align: center;
    margin: 50px auto 0 auto;
    width: 460px;
    height: 350px;
}

div.container{
    margin: 0 auto;
}

img.image{
    width: 100%;
    display: none;
}

section.bullet{
    text-align: center;
}

div.bullets{
    text-align: center;
    width: calc((20px*3) + (10px*2*3));
    display: inline-block;
    margin: 0 auto;
}

.bullets span{
    height: 20px;
    width: 20px;
    background: rgb(112, 112, 112);
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px 0 6px;
    cursor: pointer;
    transition: ease 0.6s;
}

.bullets .active, .bullets span:hover{
    background: white;
}

.container .show{
    display: inline-block;
}

.fade{
    animation-name: fade;
    animation-duration: 2.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
}

@-webkit-keyframes fade{
    from{
        opacity: 0.1;
    }

    to{
        opacity: 1.0;
    }
}

@keyframes fade{
    from{
        opacity: 0.1;
    }

    to{
        opacity: 1.0;
    }
}